- content_for :title, "Modificar código R"

%h1 Modificar nuevo código-R

= form_for @snippet do |f|
  = render :partial => 'form', :locals => { :f => f }
  #buttons
    = f.submit 'Modificar código'
    = link_to 'Cancelar', snippet_url(@snippet), :class => 'button'
