#conmenu
  %h1  A침adir nuevo trozo c칩digo R
  #actions
    = link_to 'Volver a listado', snippets_url, :class => 'button'

= form_for @snippet do |f|
  = render :partial => 'form', :locals => { :f => f }
  = f.submit 'A침adir trozo de c칩digo R'