/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 38, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
nav ul {
  list-style: none;
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_fonts.scss */
body {
  font-size: 13px;
  font-family: sans-serif;
  line-height: 1.231;
  *font-size: small;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_fonts.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_fonts.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_fonts.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
body, select, input, textarea {
  color: #444444;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
html {
  overflow-y: scroll;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
a:hover {
  color: #003366;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
ul, ol {
  margin-left: 1.8em;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
ol {
  list-style-type: decimal;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
td, td img {
  vertical-align: top;
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
a:hover, a:active {
  outline: none;
}

/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
::-moz-selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
::selection {
  background: #ff5e99;
  color: white;
  text-shadow: none;
}

/* line 94, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 105, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 109, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_base.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_helpers.scss */
.ir {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  direction: ltr;
  background-repeat: no-repeat;
}

/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_helpers.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 13, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 15, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media print {
  /* line 24, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 26, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 28, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 30, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 32, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after {
    content: "";
  }

  /* line 34, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 36, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
}

  /* line 40, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 42, ../../../../.rvm/gems/ruby-1.9.2-p0@erresauro/gems/html5-boilerplate-0.1.7/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {}
/* line 114, ../../app/stylesheets/erre.scss */
* {
  line-height: 1.4em;
  outline: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* line 120, ../../app/stylesheets/erre.scss */
:focus {
  outline: 0;
}

/* line 124, ../../app/stylesheets/erre.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 130, ../../app/stylesheets/erre.scss */
body {
  min-width: 450px;
  width: auto !important;
  width: 450px;
  font-size: 12px;
}

/* line 137, ../../app/stylesheets/erre.scss */
a {
  text-decoration: none;
  color: #00418d;
}
/* line 141, ../../app/stylesheets/erre.scss */
a:visited {
  color: #00418d;
}
/* line 144, ../../app/stylesheets/erre.scss */
a:hover {
  color: #FF0038;
}
/* line 147, ../../app/stylesheets/erre.scss */
a img {
  border: none;
  cursor: pointer;
}

/* line 154, ../../app/stylesheets/erre.scss */
#container {
  border-top: 6px solid #00101b;
  min-height: 100%;
  position: relative;
  background: white url("/images/paper.png") repeat-x 0 0;
}
/* line 161, ../../app/stylesheets/erre.scss */
#container #header #navigation {
  font-size: 11px;
  background-color: #ddd;
  color: #888;
  font-weight: bold;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  width: 900px;
  margin: auto;
  text-align: left;
}
/* line 174, ../../app/stylesheets/erre.scss */
#container #header #navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 6px 10px;
}
/* line 178, ../../app/stylesheets/erre.scss */
#container #header #navigation ul li {
  display: inline;
  margin-right: 10px;
}
/* line 181, ../../app/stylesheets/erre.scss */
#container #header #navigation ul li a {
  text-decoration: none;
  color: #888;
  text-shadow: 1px 1px 0 #fff;
}
/* line 191, ../../app/stylesheets/erre.scss */
#container #header header {
  overflow: hidden;
  *zoom: 1;
  width: 900px;
  margin: 10px auto 30px auto;
}
/* line 196, ../../app/stylesheets/erre.scss */
#container #header header #logo {
  width: 100px;
  float: right;
  text-align: right;
}
/* line 202, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu {
  -moz-box-shadow: #666666 0px 1px 2px -1px;
  -webkit-box-shadow: #666666 0px 1px 2px -1px;
  -o-box-shadow: #666666 0px 1px 2px -1px;
  box-shadow: #666666 0px 1px 2px -1px;
  border: 1px solid #d2d2d2;
  float: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  height: 23px;
  margin: 10px 0 0 0;
  padding: 4px 0px 0 4px;
  list-style: none;
  text-align: right;
}
/* line 216, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li {
  font-size: 13px;
  margin: 0 0 0 -3px;
  display: inline;
  overflow: hidden;
}
/* line 222, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li a {
  font-weight: bold;
  text-shadow: white 0 1px 0;
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  color: #6a6a6a;
  border-right: 1px solid white;
  border-bottom: 1px solid #e3e3e3;
  font-weight: bold;
  padding: 6px 10px 5px 10px;
}
/* line 100, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li a:hover {
  color: #515151;
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #ededed 100%);
  background-image: linear-gradient(top, #d9d9d9 0%, #ededed 100%);
}
/* line 104, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li a:active {
  color: #515151;
  background: #a3a3a3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b8b8b8), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #b8b8b8 0%, #cccccc 100%);
  background-image: linear-gradient(top, #b8b8b8 0%, #cccccc 100%);
}
/* line 231, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li a:hover {
  color: #5e5e5e;
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #ededed 100%);
  background-image: linear-gradient(top, #d9d9d9 0%, #ededed 100%);
}
/* line 238, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li:first-child a {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}
/* line 247, ../../app/stylesheets/erre.scss */
#container #header header ul#main-menu li:last-child a {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
/* line 261, ../../app/stylesheets/erre.scss */
#container #main {
  width: 900px;
  margin: auto;
  padding-bottom: 200px;
}
/* line 267, ../../app/stylesheets/erre.scss */
#container #main #flash {
  padding: 0;
  margin: 5px 0 10px 0;
}
/* line 270, ../../app/stylesheets/erre.scss */
#container #main #flash p {
  margin: 0;
  padding: 5px 0 5px 17px;
}
/* line 273, ../../app/stylesheets/erre.scss */
#container #main h1 {
  font-size: 20px;
  color: #1c1c1c;
  text-shadow: 1px 1px 0 #ccc;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 281, ../../app/stylesheets/erre.scss */
#container #main h2 {
  font-size: 17px;
  color: #1c1c1c;
  text-shadow: 1px 1px 0 #ccc;
  margin: 20px 0 10px 0;
}
/* line 289, ../../app/stylesheets/erre.scss */
#container #main #markdown pre {
  font-family: "Courier New", "Courier New", monospace !important;
  font-size: 15px;
  margin: 0;
  padding: 10px 0;
}

/* line 301, ../../app/stylesheets/erre.scss */
footer {
  background: #00101b url("/images/bgf.png") repeat 0 0;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  /* Height of the footer */
  overflow: hidden;
  *zoom: 1;
}
/* line 312, ../../app/stylesheets/erre.scss */
footer #footer {
  width: 900px;
  margin: auto;
  padding: 30px;
  color: #fff;
}
/* line 318, ../../app/stylesheets/erre.scss */
footer #footer #isotipo {
  width: 100px;
  float: left;
  position: relative;
  top: 50%;
}
/* line 325, ../../app/stylesheets/erre.scss */
footer #footer #menus {
  width: 792px;
  float: right;
  text-align: right;
}
/* line 331, ../../app/stylesheets/erre.scss */
footer #footer #menus .info {
  width: 250px;
  float: right;
  margin-left: 20px;
}
/* line 335, ../../app/stylesheets/erre.scss */
footer #footer #menus .info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 340, ../../app/stylesheets/erre.scss */
footer #footer #menus .info ul li {
  border-bottom: 1px solid #4B4B4B;
  padding: 2px 4px;
}
/* line 343, ../../app/stylesheets/erre.scss */
footer #footer #menus .info ul li a {
  color: #fff;
}

/* line 355, ../../app/stylesheets/erre.scss */
#joboffer #title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
/* line 359, ../../app/stylesheets/erre.scss */
#joboffer h1.title {
  margin-bottom: 0 !important;
  border: none !important;
}
/* line 363, ../../app/stylesheets/erre.scss */
#joboffer #info {
  margin-top: 0;
  font-size: 14px;
}
/* line 367, ../../app/stylesheets/erre.scss */
#joboffer #info .company, #joboffer #info .separator {
  color: #888;
}
/* line 371, ../../app/stylesheets/erre.scss */
#joboffer #info .type {
  color: #2D9E29;
  font-weight: bold;
}
/* line 378, ../../app/stylesheets/erre.scss */
#joboffer #explanation {
  overflow: hidden;
  *zoom: 1;
}
/* line 381, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description {
  width: 670px;
  float: left;
  overflow: auto;
}
/* line 387, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description h1, #joboffer #explanation #description h2, #joboffer #explanation #description h3, #joboffer #explanation #description h4, #joboffer #explanation #description h5 {
  margin: 10px 0;
  padding: 0;
  text-shadow: none;
  color: #434343 !important;
  border: none;
}
/* line 395, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description h1 {
  font-size: 16px;
}
/* line 398, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description h2 {
  font-size: 14px;
}
/* line 401, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description h3 {
  font-size: 13px;
}
/* line 404, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description h4 {
  font-size: 12px;
}
/* line 407, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description h5 {
  font-size: 11px;
}
/* line 411, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description p {
  margin: 10px 0;
}
/* line 415, ../../app/stylesheets/erre.scss */
#joboffer #explanation #description a {
  color: #0080bf;
}
/* line 420, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo {
  float: right;
  width: 180px;
  margin: 0;
}
/* line 425, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo h2 {
  color: #434343;
  border-bottom: 1px solid #ccc;
  padding-left: 4px;
}
/* line 431, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo .author {
  display: block;
  font-weight: bold;
  color: #434343;
}
/* line 437, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo .date {
  display: block;
  color: #00418d;
  font-weight: bold;
}
/* line 443, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo .menu {
  margin: 20px 0;
}
/* line 446, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo .menu a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  color: #555;
  padding-left: 4px;
}
/* line 453, ../../app/stylesheets/erre.scss */
#joboffer #explanation #metainfo .menu a:hover {
  background-color: #fbfeea;
}

/* line 465, ../../app/stylesheets/erre.scss */
#snippet #description {
  margin: 5px 0 20px 0;
}
/* line 469, ../../app/stylesheets/erre.scss */
#snippet h1.title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px !important;
}

/* line 476, ../../app/stylesheets/erre.scss */
#code {
  overflow: hidden;
  *zoom: 1;
}
/* line 479, ../../app/stylesheets/erre.scss */
#code #highlight_code {
  width: 690px;
  float: left;
  padding: 0;
  background-color: #00101b;
  color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #ddd;
  overflow: auto;
}
/* line 489, ../../app/stylesheets/erre.scss */
#code #highlight_code pre {
  font-size: 12px;
  font-family: "Courier New", "Courier New", monospace !important;
  padding: 0;
}
/* line 494, ../../app/stylesheets/erre.scss */
#code #highlight_code pre span {
  font-family: "Courier New", "Courier New", monospace !important;
}
/* line 499, ../../app/stylesheets/erre.scss */
#code #highlight_code pre span.line-numbers {
  font-family: "Courier New", "Courier New", monospace !important;
  margin-right: 12px;
  text-align: right;
  display: inline-block;
  width: 30px;
  padding: 0 10px;
  font-weight: bold;
}
/* line 513, ../../app/stylesheets/erre.scss */
#code #metainfo {
  float: right;
  width: 180px;
  margin: 0;
}
/* line 518, ../../app/stylesheets/erre.scss */
#code #metainfo h2 {
  color: #434343;
  border-bottom: 1px solid #ccc;
  padding-left: 4px;
}
/* line 524, ../../app/stylesheets/erre.scss */
#code #metainfo .author {
  display: block;
  font-weight: bold;
  color: #434343;
}
/* line 530, ../../app/stylesheets/erre.scss */
#code #metainfo .date {
  display: block;
  color: #00418d;
  font-weight: bold;
}
/* line 536, ../../app/stylesheets/erre.scss */
#code #metainfo .menu {
  margin: 20px 0;
}
/* line 539, ../../app/stylesheets/erre.scss */
#code #metainfo .menu a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  color: #555;
  padding-left: 4px;
}
/* line 546, ../../app/stylesheets/erre.scss */
#code #metainfo .menu a:hover {
  background-color: #fbfeea;
}
/* line 552, ../../app/stylesheets/erre.scss */
#code #metainfo #back a.back {
  text-decoration: none;
  background: #9AD8FF;
  background: -moz-linear-gradient(0% 100% 90deg, #9ad8ff, #9ad8ff);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9ad8ff), to(#9ad8ff));
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 4px 10px;
  color: #fff;
  font-size: 10px;
}

/* line 569, ../../app/stylesheets/erre.scss */
#joboffers {
  overflow: hidden;
  *zoom: 1;
}
/* line 572, ../../app/stylesheets/erre.scss */
#joboffers #jobmenu {
  margin-top: 20px;
  width: 300px;
  float: right;
}
/* line 577, ../../app/stylesheets/erre.scss */
#joboffers #jobmenu ul.jobsocial {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 582, ../../app/stylesheets/erre.scss */
#joboffers #jobmenu ul.jobsocial li {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
/* line 587, ../../app/stylesheets/erre.scss */
#joboffers #jobmenu ul.jobsocial li a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  font-weight: bold;
}
/* line 597, ../../app/stylesheets/erre.scss */
#joboffers #joblist {
  width: 580px;
  float: left;
}
/* line 601, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 4px 10px 10px 10px;
}
/* line 607, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer:hover {
  background-color: #f0f0f0;
}
/* line 611, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer #info {
  font-size: 11px;
}
/* line 613, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer #info .company {
  color: #888;
}
/* line 617, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer #info .type {
  color: #2D9E29;
  font-weight: bold;
}
/* line 623, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer .date {
  color: #888;
  font-size: 11px;
}
/* line 628, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer .description {
  font-size: 11px;
}
/* line 634, ../../app/stylesheets/erre.scss */
#joboffers #joblist .job_offer .title a {
  text-decoration: none;
  color: #00418d;
  display: block;
  font-weight: bold;
}

/* line 647, ../../app/stylesheets/erre.scss */
#snippets {
  overflow: hidden;
  *zoom: 1;
}
/* line 650, ../../app/stylesheets/erre.scss */
#snippets .snippet {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 4px 10px 10px 10px;
}
/* line 656, ../../app/stylesheets/erre.scss */
#snippets .snippet:hover {
  background-color: #f0f0f0;
}
/* line 660, ../../app/stylesheets/erre.scss */
#snippets .snippet .date {
  color: #888;
  font-size: 11px;
}
/* line 665, ../../app/stylesheets/erre.scss */
#snippets .snippet .description {
  font-size: 11px;
}
/* line 671, ../../app/stylesheets/erre.scss */
#snippets .snippet .title a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  color: #00418d;
}

/* line 681, ../../app/stylesheets/erre.scss */
#cancel {
  overflow: hidden;
  *zoom: 1;
}
/* line 684, ../../app/stylesheets/erre.scss */
#cancel a.cancel {
  float: left;
  text-decoration: none;
  width: auto;
  height: auto;
  font-weight: bold;
  margin-top: 13px;
  background: #FFAA98;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 11px 20px;
  text-align: center;
  text-transform: uppercase;
}
/* line 702, ../../app/stylesheets/erre.scss */
#cancel a.cancel:hover {
  background-color: #999;
}

/* line 711, ../../app/stylesheets/erre.scss */
form p {
  margin-top: 15px;
}
/* line 714, ../../app/stylesheets/erre.scss */
form label {
  font-weight: bold;
  margin-right: 10px;
}
/* line 719, ../../app/stylesheets/erre.scss */
form #buttons {
  height: 50px;
  margin-top: 10px;
}
/* line 725, ../../app/stylesheets/erre.scss */
form input[type="submit"] {
  color: #5e5e5e;
  font-weight: bold;
  text-shadow: white 0 1px 0;
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  width: auto;
  padding: 6px 10px;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  vertical-align: middle;
}
/* line 100, ../../app/stylesheets/erre.scss */
form input[type="submit"]:hover {
  color: #515151;
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #ededed 100%);
  background-image: linear-gradient(top, #d9d9d9 0%, #ededed 100%);
}
/* line 104, ../../app/stylesheets/erre.scss */
form input[type="submit"]:active {
  color: #515151;
  background: #a3a3a3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b8b8b8), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #b8b8b8 0%, #cccccc 100%);
  background-image: linear-gradient(top, #b8b8b8 0%, #cccccc 100%);
}
/* line 736, ../../app/stylesheets/erre.scss */
form input, form textarea {
  vertical-align: bottom;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
  padding: 6px 10px;
}
/* line 745, ../../app/stylesheets/erre.scss */
form input:focus, form textarea:focus {
  background-color: #fefef2;
}
/* line 750, ../../app/stylesheets/erre.scss */
form input.title {
  font-size: 17px;
  font-weight: bold;
}
/* line 755, ../../app/stylesheets/erre.scss */
form textarea.code {
  font-family: "Courier New", "Courier New", monospace !important;
  font-size: 14px;
  padding: 10px 10px;
  background-color: #00101b;
  color: #a0d8ff;
}
/* line 763, ../../app/stylesheets/erre.scss */
form textarea.code:focus {
  background-color: #00101b;
  color: #58C0FF;
}

/* line 771, ../../app/stylesheets/erre.scss */
.pagination {
  margin-top: 10px;
  font-size: 12px;
}
/* line 775, ../../app/stylesheets/erre.scss */
.pagination a {
  text-decoration: none;
  color: #0080bf;
  font-weight: bold;
}
/* line 786, ../../app/stylesheets/erre.scss */
.pagination span.disabled {
  color: #ddd;
}
/* line 790, ../../app/stylesheets/erre.scss */
.pagination em {
  font-weight: bold;
  font-style: normal;
}

/* line 797, ../../app/stylesheets/erre.scss */
#conmenu {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #cccccc;
}
/* line 801, ../../app/stylesheets/erre.scss */
#conmenu h1, #conmenu h2, #conmenu h3, #conmenu h4, #conmenu h5 {
  float: left;
  width: 70%;
  border: none !important;
}
/* line 806, ../../app/stylesheets/erre.scss */
#conmenu #actions {
  float: right;
  width: 30%;
  text-align: right;
  position: relative;
  top: 6px;
  right: 0;
}

/* line 817, ../../app/stylesheets/erre.scss */
a.button {
  color: #5e5e5e;
  font-weight: bold;
  text-shadow: white 0 1px 0;
  background: #f0f0f0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  background-image: linear-gradient(top, #ffffff 0%, #ebebeb 100%);
  width: auto;
  padding: 6px 10px;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d2d2d2;
}
/* line 100, ../../app/stylesheets/erre.scss */
a.button:hover {
  color: #515151;
  background: #d6d6d6;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #d9d9d9), color-stop(100%, #ededed));
  background-image: -moz-linear-gradient(top, #d9d9d9 0%, #ededed 100%);
  background-image: linear-gradient(top, #d9d9d9 0%, #ededed 100%);
}
/* line 104, ../../app/stylesheets/erre.scss */
a.button:active {
  color: #515151;
  background: #a3a3a3;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #b8b8b8), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #b8b8b8 0%, #cccccc 100%);
  background-image: linear-gradient(top, #b8b8b8 0%, #cccccc 100%);
}

/* line 828, ../../app/stylesheets/erre.scss */
#flash .notice, #flash .error, #flash .alert {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}
/* line 834, ../../app/stylesheets/erre.scss */
#flash .notice {
  border-color: #B2E6AA;
  color: #88B082;
  background-color: #EBFFE8;
}
/* line 840, ../../app/stylesheets/erre.scss */
#flash .error {
  border-color: #E9AAAA;
  color: #B28181;
  background-color: #FFE7E7;
}
/* line 846, ../../app/stylesheets/erre.scss */
#flash .alert {
  border-color: #E7E0A9;
  color: #B0AE80;
  background-color: #FFFCE7;
}

/* line 856, ../../app/stylesheets/erre.scss */
#members #metainfo {
  float: right;
  width: 200px;
}
/* line 860, ../../app/stylesheets/erre.scss */
#members #metainfo h2 {
  color: #434343;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  font-size: 12px;
  margin-bottom: 0;
}
/* line 867, ../../app/stylesheets/erre.scss */
#members #metainfo .menu {
  margin: 15px 0;
}
/* line 870, ../../app/stylesheets/erre.scss */
#members #metainfo .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 875, ../../app/stylesheets/erre.scss */
#members #metainfo .menu ul li {
  border-bottom: 1px solid #ddd;
  padding: 4px 10px;
}
/* line 879, ../../app/stylesheets/erre.scss */
#members #metainfo .menu ul li a {
  display: block;
  text-decoration: none;
  color: #555;
}
/* line 884, ../../app/stylesheets/erre.scss */
#members #metainfo .menu ul li a:hover {
  background-color: #fbfeea;
}
/* line 894, ../../app/stylesheets/erre.scss */
#members #confirmed_members, #members #unconfirmed_members {
  float: left;
  width: 680px;
  padding-top: 0;
  margin-top: 15px;
}
/* line 900, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member, #members #unconfirmed_members .member {
  overflow: hidden;
  *zoom: 1;
  background: transparent url("/images/icons/user-12.png") no-repeat 0 50%;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px 10px 25px;
}
/* line 906, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member:hover, #members #unconfirmed_members .member:hover {
  background-color: #f0f0f0;
}
/* line 910, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member a, #members #unconfirmed_members .member a {
  color: #0080bf;
}
/* line 914, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member .username, #members #unconfirmed_members .member .username {
  font-weight: bold;
  font-size: 12px;
  width: 90px;
  float: left;
}
/* line 921, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member .email, #members #unconfirmed_members .member .email {
  font-size: 11px;
  width: 180px;
  float: left;
}
/* line 927, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member .roles, #members #unconfirmed_members .member .roles {
  font-size: 11px;
  width: 160px;
  float: left;
  color: #999;
}
/* line 934, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member .confirmed, #members #unconfirmed_members .member .confirmed {
  width: 20px;
  float: left;
}
/* line 939, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member .icon, #members #unconfirmed_members .member .icon {
  width: 20px;
  float: right;
}
/* line 944, ../../app/stylesheets/erre.scss */
#members #confirmed_members .member .date, #members #unconfirmed_members .member .date {
  font-size: 11px;
  width: 80px;
  float: left;
  text-align: center;
}
/* line 953, ../../app/stylesheets/erre.scss */
#members #confirmed_members .thead, #members #unconfirmed_members .thead {
  background-image: none;
  background-color: #555;
  color: #fff;
}
/* line 958, ../../app/stylesheets/erre.scss */
#members #confirmed_members .thead:hover, #members #unconfirmed_members .thead:hover {
  background-color: #555;
  color: #fff;
}
/* line 962, ../../app/stylesheets/erre.scss */
#members #confirmed_members .thead .roles, #members #unconfirmed_members .thead .roles {
  color: #fff;
}

/* line 971, ../../app/stylesheets/erre.scss */
#registrations {
  overflow: hidden;
  *zoom: 1;
}
/* line 974, ../../app/stylesheets/erre.scss */
#registrations #form {
  width: 250px;
  float: left;
  border-right: 1px solid #ccc;
}
/* line 980, ../../app/stylesheets/erre.scss */
#registrations #metainfo {
  width: 620px;
  float: right;
}

/* line 987, ../../app/stylesheets/erre.scss */
ul.auth_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 991, ../../app/stylesheets/erre.scss */
ul.auth_menu li {
  border-bottom: 1px solid #ccc;
}
/* line 994, ../../app/stylesheets/erre.scss */
ul.auth_menu li a {
  display: block;
  padding: 10px 10px 10px 24px;
}
/* line 1001, ../../app/stylesheets/erre.scss */
ul.auth_menu li.access {
  background: transparent url("/images/icons/access-12.png") no-repeat 4px 50%;
}
/* line 1004, ../../app/stylesheets/erre.scss */
ul.auth_menu li.forget {
  background: transparent url("/images/icons/unlock-12.png") no-repeat 4px 50%;
}
/* line 1007, ../../app/stylesheets/erre.scss */
ul.auth_menu li.account {
  background: transparent url("/images/icons/user-12.png") no-repeat 4px 50%;
}
/* line 1010, ../../app/stylesheets/erre.scss */
ul.auth_menu li.confirmation {
  background: transparent url("/images/icons/mail-12.png") no-repeat 4px 50%;
}
/* line 1013, ../../app/stylesheets/erre.scss */
ul.auth_menu li.cancel {
  background: transparent url("/images/icons/delete-12.png") no-repeat 4px 50%;
}

/* line 1022, ../../app/stylesheets/erre.scss */
#error_explanation {
  border-color: #E9AAAA;
  color: #B28181;
  background-color: #FFE7E7;
  padding: 20px;
  margin-bottom: 20px;
}

/* line 1031, ../../app/stylesheets/erre.scss */
.field_with_errors {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 1034, ../../app/stylesheets/erre.scss */
.field_with_errors label {
  color: #B28181;
}
/* line 1038, ../../app/stylesheets/erre.scss */
.field_with_errors input, .field_with_errors textarea {
  background-color: #FFF7F8;
}

/* line 1046, ../../app/stylesheets/erre.scss */
#posts h1.date {
  margin-top: 20px;
  border: none !important;
}
/* line 1051, ../../app/stylesheets/erre.scss */
#posts .date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 1057, ../../app/stylesheets/erre.scss */
#posts .post {
  border-top: 1px solid #ddd;
  padding: 20px 10px;
}
/* line 1061, ../../app/stylesheets/erre.scss */
#posts .post:hover {
  background-color: #f0f0f0;
}
/* line 1066, ../../app/stylesheets/erre.scss */
#posts .post .entry a.link {
  font-weight: bold;
  font-size: 120%;
  margin-right: 4px;
  color: #00418d;
}
/* line 1075, ../../app/stylesheets/erre.scss */
#posts .metadata {
  color: #999;
}

/* line 1080, ../../app/stylesheets/erre.scss */
#post {
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
}
/* line 1084, ../../app/stylesheets/erre.scss */
#post #entry {
  font-size: 15px;
  float: left;
  width: 670px;
  overflow: auto;
}
/* line 1091, ../../app/stylesheets/erre.scss */
#post #entry h1, #post #entry h2, #post #entry h3, #post #entry h4, #post #entry h5 {
  margin: 10px 0;
  padding: 0;
  text-shadow: none;
  color: #434343 !important;
  border: none;
}
/* line 1099, ../../app/stylesheets/erre.scss */
#post #entry h1 {
  font-size: 16px;
}
/* line 1102, ../../app/stylesheets/erre.scss */
#post #entry h2 {
  font-size: 14px;
}
/* line 1105, ../../app/stylesheets/erre.scss */
#post #entry h3 {
  font-size: 13px;
}
/* line 1108, ../../app/stylesheets/erre.scss */
#post #entry h4 {
  font-size: 12px;
}
/* line 1111, ../../app/stylesheets/erre.scss */
#post #entry h5 {
  font-size: 11px;
}
/* line 1115, ../../app/stylesheets/erre.scss */
#post #entry p {
  margin: 10px 0;
}
/* line 1119, ../../app/stylesheets/erre.scss */
#post #entry a {
  color: #0080bf;
}
/* line 1125, ../../app/stylesheets/erre.scss */
#post #metainfo {
  float: right;
  width: 180px;
}
/* line 1129, ../../app/stylesheets/erre.scss */
#post #metainfo .author {
  display: block;
  font-weight: bold;
  color: #434343;
}
/* line 1135, ../../app/stylesheets/erre.scss */
#post #metainfo .date {
  display: block;
  color: #00418d;
  font-weight: bold;
}
/* line 1142, ../../app/stylesheets/erre.scss */
#post #metainfo h2 {
  color: #434343;
  border-bottom: 1px solid #ccc;
  padding-left: 4px;
}
/* line 1148, ../../app/stylesheets/erre.scss */
#post #metainfo .menu {
  margin: 15px 0;
}
/* line 1151, ../../app/stylesheets/erre.scss */
#post #metainfo .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 1156, ../../app/stylesheets/erre.scss */
#post #metainfo .menu ul li {
  border-bottom: 1px solid #ddd;
}
/* line 1160, ../../app/stylesheets/erre.scss */
#post #metainfo .menu ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  padding-left: 4px;
}
/* line 1166, ../../app/stylesheets/erre.scss */
#post #metainfo .menu ul li a:hover {
  background-color: #fbfeea;
}

/* line 1178, ../../app/stylesheets/erre.scss */
#errorExplanation {
  margin-top: 10px;
  border-color: #E9AAAA;
  color: #B28181;
  background-color: #FFE7E7;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 1186, ../../app/stylesheets/erre.scss */
#errorExplanation h2 {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  color: #992224 !important;
}
/* line 1193, ../../app/stylesheets/erre.scss */
#errorExplanation p {
  color: #992224 !important;
}
/* line 1197, ../../app/stylesheets/erre.scss */
#errorExplanation ul {
  margin: 4px 20px;
}

/* line 1207, ../../app/stylesheets/erre.scss */
#fourhundred {
  border-top: 1px solid #ccc;
  text-align: left;
}
/* line 1211, ../../app/stylesheets/erre.scss */
#fourhundred h1.oops {
  border: none !important;
  font-size: 100px !important;
  text-shadow: 3px 3px 4px #8B8B8B !important;
}
/* line 1218, ../../app/stylesheets/erre.scss */
#fourhundred h1.excuses {
  border: none !important;
  font-size: 40px !important;
  line-height: 35px !important;
}
/* line 1225, ../../app/stylesheets/erre.scss */
#fourhundred h1.fourofour {
  border: none !important;
  font-size: 40px !important;
  color: #ccc !important;
  text-shadow: none;
}
/* line 1232, ../../app/stylesheets/erre.scss */
#fourhundred #nerd {
  position: absolute;
  bottom: 150px;
  margin-bottom: -20px;
  padding-bottom: -50px;
  padding: 0;
}

/* line 1241, ../../app/stylesheets/erre.scss */
#denied {
  border-top: 1px solid #ccc;
  text-align: left;
}
/* line 1245, ../../app/stylesheets/erre.scss */
#denied h1.access {
  border: none !important;
  font-size: 50px !important;
  text-shadow: 3px 3px 4px #8B8B8B !important;
}
/* line 1252, ../../app/stylesheets/erre.scss */
#denied h2.excuses {
  border: none !important;
  font-size: 30px !important;
  line-height: 28px !important;
}
/* line 1258, ../../app/stylesheets/erre.scss */
#denied h3.list {
  border: none !important;
  font-size: 20px !important;
  line-height: 35px !important;
}
/* line 1264, ../../app/stylesheets/erre.scss */
#denied #nerd {
  position: absolute;
  bottom: 150px;
  margin-bottom: -20px;
  padding-bottom: -50px;
  padding: 0;
}
