ActionMailer::Base.smtp_settings = {
  :address => "smtp.gmail.com",
  :port => "25",
  :domain => "r-es.org",
  :user_name => "XXXXX",
  :password => "XXXXXX",
  :authentication => "plain",
  :enable_starttls_auto => true
}