@import "html5-boilerplate";

// Now you can choose to include the
// whole enchilada with just one line
@include html5-boilerplate;

// Or, you can pick and choose only the
// sections you want to include
//@include html5-boilerplate-reset;
//@include html5-boilerplate-fonts;
//@include html5-boilerplate-page;
//@include html5-boilerplate-helpers;
//@include html5-boilerplate-media;

// Or, you can import this partial if you want
// full controll over which mixins to include
//@import "partials/html5_boilerplate";

@import "compass/utilities/lists";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/min";
@import "compass/css3";

$font-size: 12px;


// Colors
$color-main: #434343;
$color-h: #1C1C1C;
$color-background: #fff;
$color-lighting: #FBFEEA;
$color-lighting-form: #FEFEF2;
$color-lighting-form-black: #00101B;
$color-lighting-dark: #F0F0F0;
$color-rproject: #a0d8ff;
$color-github:  #0080BF;
$color-bar:  #00101B;
$color-border:  #ccc;
$color-title: #00418D;


$erre-width: 900px;
$jobmenu-width: 300px;
$default-gap: 20px;
$metainfo-users: 200px;
$round-menu: 10px;

$navibar-color: lighten($font-color, 15%);          // text-color inside navibar
$navibar-color-hover: lighten($font-color, 10%);

$main-bg-color: #fff;                               // general iframe color


$button-color: lighten($font-color, 10%);           // text-color inside gradients

$gradient-backup-color: #f0f0f0;                    // standard middle value and for non css3-browsers
$gradient-top-color: lighten($gradient-backup-color, 90%);
$gradient-bottom-color: darken($gradient-backup-color, 2%);

$text-shadow: lighten($gradient-bottom-color, 100%);// appears only in gradients
$border-color: lighten(#bbb, 9%);
$reward-color: $link-color;
$success-color: #3E6517;

$border: 1px solid $border-color;

$gradient-hover-backup-color: darken($gradient-backup-color, 10%);
$gradient-hover-top-color: darken($gradient-bottom-color, 7%);
$gradient-hover-bottom-color: darken($gradient-top-color, 7%);

$gradient-active-backup-color: darken($gradient-backup-color, 15%);
$gradient-active-top-color: darken($gradient-bottom-color, 10%);
$gradient-active-bottom-color: darken($gradient-top-color, 10%);

$gradient-link-hover-color: darken($button-color, 5%);
$gradient-link-active-color: darken($button-color, 5%);

@mixin gradient-default {
  background: $gradient-backup-color;
  @include linear-gradient(color-stops($gradient-top-color,$gradient-bottom-color));
}

@mixin gradient-hover {
  background: $gradient-hover-backup-color;
  @include linear-gradient(color-stops($gradient-hover-top-color, $gradient-hover-bottom-color));
}

@mixin gradient-active {
  background: darken($gradient-active-backup-color, 15%);
  @include linear-gradient(color-stops(darken($gradient-active-top-color, 10%),darken($gradient-active-bottom-color, 10%)));
}


@mixin gradient-link {
  font-weight: bold;

  @include text-shadow($text-shadow, 0, 1px, 0);
  @include gradient-default;
  &:hover {
    color: $gradient-link-hover-color;
    @include gradient-hover;
    }
  &:active {
    color: $gradient-link-active-color;
    @include gradient-active;
  }
}



// basics

* {
  line-height: 1.4em;
  outline: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

:focus {
  outline: 0;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
  @include min-width(450px);
  font-size: $font-size;
}

// Links

a {
  text-decoration: none;
  color: $color-title;

  &:visited {
    color: $color-title;
  }
  &:hover {
    color: #FF0038;
  }
  img {
    border: none;
    cursor: pointer;
  }
}


#container {
  border-top: 6px solid $color-bar;
  min-height: 100%;
  position: relative;
  background: #ffffff url('/images/paper.png') repeat-x 0 0;

  #header {
		#navigation {
		  font-size: 11px;
		  background-color: #ddd;
		  color: #888;
		  font-weight: bold;
		  -moz-border-radius-bottomleft: 8px;
		  -moz-border-radius-bottomright: 8px;
		  -webkit-border-bottom-left-radius: 8px;
		  -webkit-border-bottom-right-radius: 8px;
		  width: $erre-width;
		  margin: auto;
	    text-align: left;
	
	    ul {
	      list-style-type: none;
	      margin: 0;
			  padding: 6px 10px;
	      li {
	        display: inline;
	        margin-right: 10px;
	        a {
	          text-decoration: none;
	          color: #888;
			      text-shadow: 1px 1px 0 #fff;
	
	        }
	      }
	    }	
		}

	  header {
	    @include clearfix;
	    width: $erre-width;
	    margin: 10px auto 30px auto;

	    #logo {
	      width: 100px;
	      float: right;
	      text-align: right;
	    }
   
		  ul#main-menu {
		    @include box-shadow(darken($main-bg-color, 60%), 0px, 1px, 2px, -1px);
		    border: $border;
		    float: left;
	
		    @include border-radius($round-menu);
		    height: 23px;

		    margin: 10px 0 0 0;
		    padding: 4px 0px 0 4px;
		    list-style: none;
		    text-align: right;
	
		
		    li {
			    font-size: $font-size + 1px;
		      margin: 0 0 0 -3px;
		      display: inline;
		      overflow: hidden;
				
		      a {
		        @include gradient-link;
		
		        color: $navibar-color;
		        border-right: 1px solid lighten($navibar-color, 80%);
		        border-bottom: 1px solid darken($gradient-backup-color, 5%);
		        font-weight: bold;
		        padding: 6px 10px 5px 10px;
		
		        &:hover {
  			      color: $navibar-color-hover;
	  		      @include gradient-hover;
		        }
		      }
		
			    &:first-child {
			      a {
						  -moz-border-radius-bottomleft: $round-menu;
						  -webkit-border-bottom-left-radius: $round-menu;
						  -moz-border-radius-topleft: $round-menu;
						  -webkit-border-top-left-radius: $round-menu;
			      }
			    }
			
			    &:last-child {
			      a {
   					  -moz-border-radius-bottomright: $round-menu;
	  				  -webkit-border-bottom-right-radius: $round-menu;
		  			  -moz-border-radius-topright: $round-menu;
			  		  -webkit-border-top-right-radius: $round-menu;
			      }
			    }
		
		    }
		  }
		
	  }
  }

  #main {
    width: $erre-width;
    margin: auto;  
    padding-bottom: 200px;


    #flash {
      padding: 0;
      margin: 5px 0 10px 0;
      p { margin: 0; padding: 5px 0 5px 17px }
    }

    h1 {
      font-size: 20px;
      color: $color-h;
      text-shadow: 1px 1px 0 #ccc;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
    }

    h2 {
      font-size: 17px;
      color: $color-h;
      text-shadow: 1px 1px 0 #ccc;
      margin: 20px 0 10px 0;
    }

    #markdown {
      pre {
        font-family: "Courier New", "Courier New", monospace !important;
        font-size: 15px;
        margin: 0;
        padding: 10px 0;
      }
    }
  }

}


footer {
  background: $color-bar url('/images/bgf.png') repeat 0 0;
  margin: 0;
  padding: 0;

  position:absolute;
  bottom:0;
  width:100%;
  height: 150px;   /* Height of the footer */
  @include clearfix;

	#footer {
	  width: $erre-width;
	  margin: auto;
	  padding: 30px;
	  color: #fff; 

    #isotipo {
      width: 100px;
      float: left;
      position: relative;
      top: 50%;
    }

    #menus {
      width: $erre-width - 108px;
      float: right;
      text-align: right;


	    .info {
	      width: 250px;
	      float: right;
	      margin-left: 20px;
	      ul{
	        list-style-type: none;
	        margin: 0;
	        padding: 0;

	        li {
	          border-bottom: 1px solid #4B4B4B;
	          padding: 2px 4px;
	          a {
	            color: #fff;
	          }
	        }
	      } 
	    }
    }
	}
}

#joboffer {

  #title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  h1.title {
    margin-bottom: 0 !important;
    border: none !important;
  }
	#info {
	  margin-top: 0;
	
	  font-size: 14px;
	  .company, .separator {
	    color: #888;
	  }
     
	  .type {
	    color: #2D9E29;
	    font-weight: bold;
	  }
	  
	  .country {
	    color: $color-title;
	    font-weight: bold;
	  }
	}


  #explanation {
    @include clearfix;

    #description {

		  width: $erre-width - 230px;
		  float: left;
	  	overflow: auto;
	
	    h1, h2, h3, h4, h5 {
	      margin: 10px 0;
	      padding: 0;
 	      text-shadow: none;
        color: $color-main !important;
        border: none;
	    }
	
	    h1 {
	      font-size: 16px;
 	    }
	    h2 {
	      font-size: 14px;
 	    }
	    h3 {
	      font-size: 13px;
 	    }
	    h4 {
	      font-size: 12px;
 	    }
	    h5 {
	      font-size: 11px;
 	    }

      p {
        margin: 10px 0;
      }

      a {
        color: $color-github;
      }
    }

		#metainfo {
		  float: right;
		  width: 180px;
		  margin: 0;

		  h2 {
		    color: $color-main;
		    border-bottom: 1px solid #ccc;
		    padding-left: 4px;
	    }

		  .author {
		    display: block;
		    font-weight: bold;
		    color: $color-main;
		  }

		  .date {
		    display: block;
		    color: $color-title;
		    font-weight: bold;
		  }

		  .menu {
		    margin: 20px 0;

		    a {
		      display: block;
		      text-decoration: none;
		      border-bottom: 1px solid #ddd;
		      color: #555;
		      padding-left: 4px;

		      &:hover {
		        background-color: $color-lighting;
		      }
		    }
		  }
		}

	}
}


#snippet {
  #description {
    margin: 5px 0 20px 0;
  }
  
  h1.title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px !important;
  }
}


#code {
  @include clearfix;

	#highlight_code {
	  width: $erre-width - 210px;
	  float: left;
	  padding: 0;
	  background-color: #00101b;
	  color: #fff;
	  @include border-radius(8px);
	  border: 2px solid #ddd;
  	overflow: auto;
  	bacground-color: #060B16;
  	
  	pre {
    
      font-size: 12px;
  	  font-family: "Courier New", "Courier New", monospace !important;
  	  padding: 0;
  	  
  	  span {
  	    font-family: "Courier New", "Courier New", monospace !important;
  	    
  	  }
  	  
  	  span.line-numbers {
  	    font-family: "Courier New", "Courier New", monospace !important;
  	    margin-right: 12px;
  	    text-align: right;
        display: inline-block;
        width: 30px;
        padding: 0 10px;
        font-weight: bold;
  	  }  	  

  	  
  	}
	}
	
	#metainfo {
	  float: right;
	  width: 180px;
	  margin: 0;
	
	  h2 {
	    color: $color-main;
	    border-bottom: 1px solid #ccc;
	    padding-left: 4px;	
    }

	  .author {
	    display: block;
	    font-weight: bold;
	    color: $color-main;
	  }

	  .date {
	    display: block;
	    color: $color-title;
	    font-weight: bold;
	  }
	
	  .menu {
	    margin: 20px 0;

	    a {
	      display: block;
	      text-decoration: none;
	      border-bottom: 1px solid #ddd;
	      color: #555;
	      padding-left: 4px;
	
	      &:hover {
	        background-color: $color-lighting;
	      }
	    }
	  }
	  #back {
	    a.back {
	      text-decoration: none;  
			  background: #9AD8FF;
			  background: -moz-linear-gradient(0% 100% 90deg, #9AD8FF, #9AD8FF);
			  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9AD8FF), to(#9AD8FF));
			  -moz-border-radius: 20px;
			  -webkit-border-radius: 20px;
			  border-radius: 20px;
			  padding: 4px 10px;
			  color: #fff;
			  font-size: 10px;
	    }
	  }
	}
}


#joboffers {
  @include clearfix;

  #jobmenu {
    margin-top: 20px;
    width: 300px;
    float: right;

    ul.jobsocial {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
  		  @include border-radius(4px);
		    border: 1px solid #ddd;
		    margin-bottom: 10px;

		    a {
		      display: block;
	        padding: 6px 10px;
	        text-decoration: none;
	        font-weight: bold;
		    }
      }
    }
  }

  #joblist {
    width: $erre-width - $jobmenu-width - $default-gap;
    float: left;

	  .job_offer {

		  font-size: 16px;
		  border-bottom: 1px solid #ddd;
		  padding: 4px 10px 10px 10px;

	    &:hover {
	      background-color: $color-lighting-dark;
	    }

	    #info {
	      font-size: 11px;
	      .company {
	        color: #888;
	      }

	      .type {
	        color: #2D9E29;
	        font-weight: bold;
	      }
	      .country {
	        color: #555;
	        font-weight: bold;
	        text-align: right;
	      }
	      
	    }

	    .date {
			  color: #888;
	      font-size: 11px;
	    }

	    .description {
	      font-size: 11px;
	    }

	    .title {

	      a {
	        text-decoration: none;
	        color: $color-title;
	        display: block;
	        font-weight: bold;
	      }
	    }
	  }
	}
}



#snippets {
  @include clearfix;

  .snippet {

	  font-size: 16px;
	  border-bottom: 1px solid #ddd;
	  padding: 4px 10px 10px 10px;

    &:hover {
      background-color: $color-lighting-dark;
    }

    .date {
		  color: #888;
      font-size: 11px;
    }

    .description {
      font-size: 11px;
    }

    .title {

      a {
        text-decoration: none;
        display: block;
        font-weight: bold;
		    color: $color-title;
      }
    }
  }
}

#cancel {
  @include clearfix;

	a.cancel {
	  float: left;
	  text-decoration: none;
	  width: auto;
	  height: auto;
	  font-weight: bold;
	  margin-top: 13px;
	  background: #FFAA98;
	  @include border-radius(20px);
	  border: 1px solid #fff;
	  color: #ffffff;
	  font-size: 11px;
	  font-weight: bold;
	  line-height: 1;
	  padding: 11px 20px;
	  text-align: center;
	  text-transform: uppercase;

	  &:hover {
	    background-color: #999;
	  }
	}

}


form {
  p {
    margin-top: 15px;
  }
  label {
    font-weight: bold;
    margin-right: 10px;
  }

  #buttons {
    height: 50px;
    margin-top: 10px;

  }

	input[type="submit"] {
	  color: $button-color;
	  @include gradient-link;
	  width: auto;
	  padding: 6px 10px;
	  font-weight: bold;
	  @include border-radius(4px);
	  border: $border;
  	vertical-align: middle;
	}

	input, textarea {
	  vertical-align: bottom;
	  @include border-radius(4px);
	  background-color: #fff;
	  border: 1px solid #ccc;
	  color: #444;
	  padding: 6px 10px;
	

	  &:focus {
	    background-color: $color-lighting-form;
	  }	
	}
	
	input.title {
	  font-size: 17px;
	  font-weight: bold;
	}
	
	textarea.code {
	  font-family: "Courier New", "Courier New", monospace !important;
    font-size: 14px;
    padding: 10px 10px;
    background-color: $color-lighting-form-black;
    color: $color-rproject;


	  &:focus {
	    background-color: $color-lighting-form-black;
	    color: #58C0FF;
	  }
	}
}


.pagination {
  margin-top: 10px;
  font-size: 12px;

  a {
    text-decoration: none;
    color: $color-github;
    font-weight: bold;

  }

  a.previous_page, a.next_page {
  
  }

  span.disabled {
    color: #ddd;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }
}


#conmenu {
  @include clearfix;
  border-bottom: 1px solid $color-border;

  h1, h2, h3, h4, h5 {
    float: left;
    width: 70%;
    border: none !important;
  }
  #actions {
    float: right;
    width: 30%;
    text-align: right;
	  position: relative;
	  top: 6px;
	  right: 0;
  }
}


a.button {
  color: $button-color;
  @include gradient-link;
  width: auto;
  padding: 6px 10px;
  font-weight: bold;
  @include border-radius(4px);
  border: $border;
}

#flash {
  .notice, .error, .alert {
	  @include border-radius(4px);
		border-style: solid;
		border-width: 1px;
  }

  .notice {
    border-color: #B2E6AA;
    color: #88B082;
    background-color: #EBFFE8;
  }

  .error {
    border-color: #E9AAAA;
    color: #B28181;
    background-color: #FFE7E7;
  }

  .alert {
    border-color: #E7E0A9;
    color: #B0AE80;
    background-color: #FFFCE7;
  }
}


#members {  

  #metainfo {
    float: right;
    width: $metainfo-users;

    h2 {
	    color: $color-main;
	    border-bottom: 1px solid #ccc;
	    padding-left: 10px;
	    font-size: 12px;
	    margin-bottom: 0;
    }
	  .menu {
	    margin: 15px 0;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
  	      border-bottom: 1px solid #ddd;
		      padding: 4px 10px;

			    a {
			      display: block;
			      text-decoration: none;
			      color: #555;

			      &:hover {
			        background-color: $color-lighting;
			      }
			    }
		   } 
	    }
	  }

  }

	#confirmed_members, #unconfirmed_members {
	  float: left;
	  width: $erre-width - $metainfo-users - $default-gap;
	  padding-top: 0;
	  margin-top: 15px;
	
	  .member {
	    @include clearfix;	    
	    background: transparent url('/images/icons/user-12.png') no-repeat 0 50%;
	    border-bottom: 1px solid #ccc;
	    padding: 10px 5px 10px 25px;

	    &:hover {
	      background-color: $color-lighting-dark;
	    }
	
	    a {
	      color: $color-github;
	    }

	    .username {
	      font-weight: bold;
	      font-size: 12px;
	      width: 90px;
	      float: left;
	    }
	
	    .email {
	      font-size: 11px;
	      width: 180px;
	      float: left;
	    }

	    .roles {
	      font-size: 11px;
	      width: 160px;
	      float: left;
	      color: #999;
	    }

	    .confirmed {
	      width: 20px;
	      float: left;
	    }
	
	    .icon {
	      width: 20px;
	      float: right;
	    }
	
	    .date {
	      font-size: 11px;
	      width: 80px;
	      float: left;
	      text-align: center;
	    }
	
	  }
	
	  .thead {
	    background-image: none;
	    background-color: #555;
	    color: #fff;
	
	    &:hover {
  	    background-color: #555;
	      color: #fff;
	    }
	    .roles {
	      color: #fff;
	    }
  	}
	}
}



#registrations {
  @include clearfix;

  #form {
    width: 250px;
    float: left;
    border-right: 1px solid #ccc;
  }

  #metainfo {
    width: $erre-width - 250px - 30px;
    float: right;
  }
}


ul.auth_menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid #ccc;

    a {
      display: block;
      padding: 10px 10px 10px 24px;
 

    }
  }
  li.access {
    background: transparent url('/images/icons/access-12.png') no-repeat 4px 50%;
  }
  li.forget {
    background: transparent url('/images/icons/unlock-12.png') no-repeat 4px 50%;
  }
  li.account {
    background: transparent url('/images/icons/user-12.png') no-repeat 4px 50%;
  }
  li.confirmation {
    background: transparent url('/images/icons/mail-12.png') no-repeat 4px 50%;
  }
  li.cancel {
    background: transparent url('/images/icons/delete-12.png') no-repeat 4px 50%;
  }



}


#error_explanation {
  border-color: #E9AAAA;
  color: #B28181;
  background-color: #FFE7E7;
  padding: 20px;
  margin-bottom: 20px;

}

.field_with_errors {
  margin: 0 !important;
  padding: 0 !important;
  label {
    color: #B28181;
  }

  input, textarea {
    background-color: #FFF7F8;
  }
}


#posts {

	h1.date {
	  margin-top: 20px;
	  border: none !important;
	}
	
  .date {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .post {
    border-top: 1px solid #ddd;
    padding: 20px 10px;   

    &:hover {
      background-color: $color-lighting-dark;
    }

    .entry {
      a.link {
        font-weight: bold;
        font-size: 120%;
        margin-right: 4px;
        color: $color-title;
      }
    }
  }

  .metadata {
    color: #999;
  }
}

#post {
  @include clearfix;
  margin-top: 20px;

  #entry {
    font-size: 15px;
    float: left;
    width: $erre-width - 210px- $default-gap;

  	overflow: auto;

    h1, h2, h3, h4, h5 {
      margin: 10px 0;
      padding: 0;
      text-shadow: none;
      color: $color-main !important;
      border: none;
    }

    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 14px;
    }
    h3 {
      font-size: 13px;
    }
    h4 {
      font-size: 12px;
    }
    h5 {
      font-size: 11px;
    }

    p {
      margin: 10px 0;
    }

    a {
      color: $color-github;
    }

  }

  #metainfo {
    float: right;
    width: 180px;

	  .author {
	    display: block;
	    font-weight: bold;
	    color: $color-main;
	  }

	  .date {
	    display: block;
	    color: $color-title;
	    font-weight: bold;
	  }


    h2 {
	    color: $color-main;
	    border-bottom: 1px solid #ccc;
	    padding-left: 4px;
    }

	  .menu {
	    margin: 15px 0;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
  	      border-bottom: 1px solid #ddd;


			    a {
			      display: block;
			      text-decoration: none;
			      color: #555;
 		        padding-left: 4px;

			      &:hover {
			        background-color: $color-lighting;
			      }
			    }
		    } 
	    }
	  }
  }
}



#errorExplanation {
  margin-top: 10px;
  border-color: #E9AAAA;
  color: #B28181;
  background-color: #FFE7E7;
  padding: 20px;
  margin-bottom: 20px;

  h2 {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
    color: #992224 !important;
  }

  p {
    color: #992224 !important;
  }

  ul {
    margin: 4px 20px;
  }
} 

field_with_errors {

}


#fourhundred {
  border-top: 1px solid #ccc;
  text-align: left;

  h1.oops {
    border: none !important;
    font-size: 100px !important;
    text-shadow: 3px 3px 4px #8B8B8B !important;

  }

  h1.excuses {
    border: none !important;
    font-size: 40px !important;
    line-height: 35px !important;
  }


  h1.fourofour {
    border: none !important;
    font-size: 40px !important;
    color: #ccc !important;
    text-shadow: none;
  }

  #nerd {
    position: absolute;
    bottom: 150px;
    margin-bottom: -20px;
    padding-bottom: -50px;
    padding: 0;
  }
}

#denied {
  border-top: 1px solid #ccc;
  text-align: left;

  h1.access {
    border: none !important;
    font-size: 50px !important;
    text-shadow: 3px 3px 4px #8B8B8B !important;

  }

  h2.excuses {
    border: none !important;
    font-size: 30px !important;
    line-height: 28px !important;
  }

  h3.list {
    border: none !important;
    font-size: 20px !important;
    line-height: 35px !important;
  }

  #nerd {
    position: absolute;
    bottom: 150px;
    margin-bottom: -20px;
    padding-bottom: -50px;
    padding: 0;
  }
}