@import "html5-boilerplate";

// Now you can choose to include the
// whole enchilada with just one line
@include html5-boilerplate;

// Or, you can pick and choose only the
// sections you want to include
//@include html5-boilerplate-reset;
//@include html5-boilerplate-fonts;
//@include html5-boilerplate-page;
//@include html5-boilerplate-helpers;
//@include html5-boilerplate-media;

// Or, you can import this partial if you want
// full controll over which mixins to include
//@import "partials/html5_boilerplate";

@import "compass/utilities/lists";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/min";
@import "compass/css3";

$font-size: 12px;

$color-main: #00101b;
$color-background: #fff;
$color-lighting: #F7F5E3;
$color-rproject: #a0d8ff;
$erre-width: 900px;

* {
  line-height: 1.4em;
  outline: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

:focus {
  outline: 0;
}

body {
  border-top: 6px solid $color-main;
  background-color: $color-main;
  @include min-width(450px);
  font-size: $font-size;
  padding: 0;
}



#container {
  background: #ffffff url('/images/paper.png') repeat-x 0 0;
  padding: 10px;

	#usernav {
	  width: $erre-width;
	  margin: auto;
	  margin-top: -10px;
	  padding: 4px 10px;
	  
	  a {
	    text-decoration: none;
	    color: #fff;
	  }
	}

  #header {
    @include clearfix;
    width: $erre-width;
    margin: 10px auto 30px auto;

    #logo {
      width: 100px;
      float: right;
      text-align: right;
    }
   

    #navigation {
      width: 700px;
      float: left;
      overflow: hidden;
      position: relative;

      padding-top: 20px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        clear: left;
        float: left;
        list-style:none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0%;
        top: 50%;


        text-align: center;
      
        li {
          display: inline;
          margin: 0 10px;
        
          a {
            text-decoration: none;
            color: $color-main;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px;
 
            &:hover {
              background-color: #000;
              color: #fff;
            }
          }
        }
      }
    }
  }

  #main {
    width: $erre-width;
    margin: auto;
    margin-bottom: 50px;

    #flash {
      padding: 0;
      margin: 5px 0 5px 0;
      p { margin: 0; padding: 5px 0 5px 17px }
    }

    h1 {
      font-size: 20px;
      color: $color-main;
      text-shadow: 1px 1px 0 #ccc;
      margin-bottom: 10px;
    }
  }

}

#footer {
  background-color: $color-main;
  width: $erre-width;
  margin: auto;
  padding: 30px;
  color: #fff; 
}



#snippet {
  #description {
    margin: 5px 0 20px 0;
  }
}


#code {
  @include clearfix;

	#highlight_code {
	  font-family: "Courier New", "Courier New", monospace;
	  font-size: 12px;
	  padding: 20px;
	  background-color: #00101b;
	  color: #fff;
	  @include border-radius(4px);
	  width: $erre-width - 250px;
	  float: left;
	  border: 2px solid #ddd;
  	overflow: auto;
	}
	
	#metainfo {
	  float: right;
	  width: 180px;
	  margin: 0;
	
	  h2 {
	    color: $color-main; 	
    }

	  .author {
	    display: block;
	    font-weight: bold;
	    color: $color-main;
	  }

	  .date {
	    display: block;
	    color: #a0d8ff;
	    font-weight: bold;
	  }
	
	  .menu {
	    margin: 15px 0;

      h2 {
        margin-bottom: 8px;
      }

	    a {
	      display: block;
	      text-decoration: none;
	      border-bottom: 1px solid #ddd;
	      color: #555;
	      padding-left: 4px;
	
	      &:hover {
	        background-color: $color-lighting;
	      }
	    }
	  }
	  #back {
	    a.back {
	      text-decoration: none;  
			  background: #9AD8FF;
			  background: -moz-linear-gradient(0% 100% 90deg, #9AD8FF, #9AD8FF);
			  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9AD8FF), to(#9AD8FF));
			  -moz-border-radius: 20px;
			  -webkit-border-radius: 20px;
			  border-radius: 20px;
			  padding: 4px 10px;
			  color: #fff;
			  font-size: 10px;
	    }
	  }
	}
}


#snippets {
  margin-top: 20px;
  @include clearfix;

  .snippet {

	  font-size: 16px;
	  border-bottom: 1px solid #ddd;
	  padding: 4px 10px 10px 10px;

    &:hover {
      background-color: $color-lighting;
    }

    .date {
		  color: #42ABEC;
      font-size: 11px;
    }

    .description {
      font-size: 11px;
    }

    .title {

      a {
        text-decoration: none;
        color: #000;
        display: block;
        text-shadow: 1px 1px 0 #ccc;
      }
    }
  }
}

#cancel {
  @include clearfix;

	a.cancel {
	  float: left;
	  text-decoration: none;
	  width: auto;
	  height: auto;
	  font-weight: bold;
	  margin-top: 13px;
	  background: #FFAA98;
	  @include border-radius(20px);
	  border: 1px solid #fff;
	  color: #ffffff;
	  font-size: 11px;
	  font-weight: bold;
	  line-height: 1;
	  padding: 11px 20px;
	  text-align: center;
	  text-transform: uppercase;

	  &:hover {
	    background-color: #999;
	  }
	}

}


form {
  p {
    margin-top: 15px;
  }
  label {
    font-weight: bold;
  }

	input[type="submit"] {
	  float: left;
	  width: auto;
	  height: auto;
	  font-weight: bold;
	  margin-top: 13px;
	  background: #9AD8FF;
	  @include border-radius(20px);
    border: 1px solid #fff;
	  color: #ffffff;
	  font-size: 11px;
	  font-weight: bold;
	  line-height: 1;
	  padding: 8px 20px;
	  text-align: center;
	  text-transform: uppercase;

    &:hover {
      background-color: #999;
    }
	}

	input, textarea {
	  vertical-align: bottom;
	  @include border-radius(4px);
	  background-color: #fff;
	  border: 1px solid #ccc;
	  color: #444;
	  padding: 6px 10px;
	}
	
	textarea.code {
	  font-family: "Courier New", "Courier New", monospace !important;
    font-size: 14px;
	}
}


.pagination {
  margin-top: 10px;
  font-size: 15px;

  a {
    text-decoration: none;
    color: $color-rproject;
  }

  a.previous_page, a.next_page {
  
  }

  span.disabled {
    color: #ddd;
  }

  em {
    font-weight: bold;
  }
}