#conmenu
  %h1 Modificar oferta de trabajo
  #actions
    = link_to 'Volver a ofertas de trabajo', job_offers_url, :class => 'button'

= form_for @job_offer do |f|
  = render :partial => 'form', :locals => { :f => f }
  = f.submit 'Modificar oferta de trabajo'
