%h2= "Hola, #{@resource.email}"

%p
  = auto_link("Al parecer alguien ha pedido resetear tu contraseña de r-es.org. Puedes hacerlo haciendo clic a través del siguiente enlace:")
  %br
  = link_to edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p.community
  El Equipo de R-es.org

#info
  .error
    Si has recibido este mensaje por error, acepta nuestras disculpas y elimina este correo. Tu contraseña no cambiará a no ser que accedas tú a través del enlace anterior y lo cambies
  .no_response
    Por favor, no respondas a este mensaje; fue enviado desde una cuenta de correo electrónico no monitoreada.